@charset "utf-8";
html,
body {
    min-width: 830px;
    font: 16px "微软雅黑", '宋体', arial;
    background-color: #fff;
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h6 {
    padding: 0;
    margin: 0;
}
input,
select,
textarea {
    font-family: "微软雅黑", '宋体', arial;
}
input[type=submit],
input[type=reset],
input[type=button] {
    *filter: chroma(color=#000000);
}
ul {
    list-style-type: none;
}
img {
    border-width: 0;
}
a {
    text-decoration: none;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}
.clear {
    clear: both
}
.el-dialog--small {
    width: 583px;
}
#aaa .specailLine {
    height: 18px;
    line-height: 18px;
    margin-top: 12px;
}
.el-dialog__body .el-tree {
    margin-top: 10px;
}
